body{
    background-image: url(./media/image/background.jpg);
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;  
 }

 /*LOGO WHATSAPP*/
.float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: #25d366;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    -webkit-box-shadow: 2px 2px 3px #999;
    box-shadow: 2px 2px 3px #999;
    z-index: 100;
}