@import "./variables";
.footer{
    

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    grid-area: footer;
    opacity: 0.7;
    background-color: $color-bg;
    align-items: center;


    &__titulo{
        color: $color-textoGrande;
    }
    &__lista{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-end;
    }
    
    
    

    
    &__elementosRedes{
        display: inline-block;
        margin-right:50px;
    }

    &__logoLinkedin{
        @include borde();
        &:hover{
            background-color: $color-linkedin;
            transform: scale(1.2, 1.2);
        }
    }

    &__logoFacebook{
        @include borde();
        &:hover{
            
            transform: scale(1.2, 1.2);
        }
    }

    &__logoInstagram{
        @include borde();
        &:hover{
            background-color: $color-instagram;
            transform: scale(1.2, 1.2);
            
        }
    }
    

    
    &__copyright{
        display: flex;
        align-self: flex-end;
        color: $color-textoGrande;
    }
}