@import "./variables";
@mixin borde {
    border-radius: 2rem;
}
.navbar-nav{
  display: flex;
flex-direction: column;
padding-left: 0;
margin-bottom: 0;
list-style: none;
align-items: center;  
}

.nav-item:hover{
    background-color: $color-hoverNav;
    border-radius: 3rem;
}