.main{
    &__titulo{
        font-size: 2rem;
            display: block;
            font-family: monospace;
            white-space: nowrap;
            border-right:4px solid;
            width:14ch;
            animation: typing 2s steps(14), blink .5s infinite step-end alternate;
            overflow: hidden;
            color: #0a0a0a;
    }
    &__tituloProductos{
        font-family: 'Bitter', serif;
        font-size: x-large;
        color: whitesmoke;
        justify-content: center;
        h1{
            font-size: 2.5rem;
            display: block;
            font-family: monospace;
            white-space: nowrap;
            border-right:4px solid;
            width:14ch;
            animation: typing 2s steps(14), blink .5s infinite step-end alternate;
            overflow: hidden;
            color: whitesmoke;
        }
    }

    &__formulario{
        display: flex;
        flex-direction: column;
        display: flex;
        justify-content: center;
        align-items: center;

        .row{
            flex-direction: column;
        }
    }
    
    &__tituloFormulario{
        font-size: 1rem;
        display: block;
        font-family: monospace;
        white-space: nowrap;
        border-right:4px solid;
        width:8ch;
        animation: typing 2s steps(8), blink .5s infinite step-end alternate;
        overflow: hidden;
        color: whitesmoke; 
    }
    &__divForm{
        background-color: #0a0a0a;
        opacity: 0.7;
        height: 30rem;
        border-radius: 3rem;
        margin-bottom: 2rem;
        display: flex;
        flex-direction: row;
        display: flex;
        justify-content: center;
        align-items: center;

    }
    #camaras:hover{
        width: 40rem;
        transform: rotate(40);
    }
    
    &__campo--modified{
        color: whitesmoke;
        font-size: 1rem;
        padding: 1rem;
    }



    &__presentacion{
        display: flex;
        justify-items: center;
        justify-content: center;
        flex-wrap: wrap;
        background-color: #0a0a0a;
        opacity: 0.7;
        
        border-radius: 1;
        &--modified{
           /* @include flex-center();*/
            width: 100%;
            background-color: #0a0a0a;;
            opacity: 0.7;
            grid-area: info;
            margin-top: 2rem;
            display: flex;
            flex-direction: column;
            align-content: center;
            align-items: center;
            
            
            h1{
                text-align: center;
                font-size: 3.8rem;
                display: block;
                font-family: monospace;
                white-space: nowrap;
                border-right: 4px solid;
                width: 9ch;
                -webkit-animation: typing 2s steps(9), blink 0.5s infinite step-end alternate;
                animation: typing 2s steps(10), blink 0.5s infinite step-end alternate;
                overflow: hidden;
                color: whitesmoke;
            }
            p{
            color: white;
            font-family: sans-serif;
            font-size: 1.8rem;
            text-align: center;
            }
        }
    }
    

    &__botonesAyuda{
        display: flex;
        justify-items: center;
        justify-content: center;
        flex-wrap: wrap;
        a{
            margin-bottom: 1rem;
        }
    }

    &__todosProductos{
        
        img{
            width: 19rem;
            height: 19rem;
            margin-bottom: 1rem;
            padding: 0px;
        }
    }

    &__seccionProductos{
        display: flex;
        justify-items: center;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
       
    }
    &__titulo_centrado{
        display: flex;
        justify-content: center;
    }

    &__izquierda{
        margin-top: 2rem;
        margin-bottom: 2rem;
        
    }
    &__saludo{   
        display: flex;
        justify-content: center;
        margin-top: 1rem;
        h1{
            
            font-size: 4rem;
            display: block;
            font-family: monospace;
            white-space: nowrap;
            border-right:4px solid;
            width:9ch;
            animation: typing 2s steps(9), blink .5s infinite step-end alternate;
            overflow: hidden;
            color: whitesmoke;
            
        }
    }
    &__imagenes{
        margin-top: 3rem;
        margin-bottom: 1rem;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        &--modified{
            border-radius: 360px;
            width: 15rem;
            height: 15rem;
            order: 2;
            
        }
        img{
            transition: opacity 3s;
            border-radius: 360px;
            width: 14rem;
            height: 13rem;
            order: 0;
        }
        img:hover{
            transform: scale(1.2 ,1.2);
            border-radius: 360px;
            opacity: 0.8;
        }
    }
    &__sobre_nosotros{
        display: flex;
        justify-content: center;
        h1{
            font-size: 2.5rem;
            display: block;
            font-family: monospace;
            white-space: nowrap;
            border-right:4px solid;
            width:14ch;
            animation: typing 2s steps(14), blink .5s infinite step-end alternate;
            overflow: hidden;
            color: whitesmoke;
        }
    }
    &__textoDescripcion{
        background-color: #0a0a0a;
        padding: 1rem;
        opacity: 0.7;
        border-radius: 1rem;
        font-family: sans-serif;
        font-size:x-large;
        margin-top: 1.2rem;
        align-self: center;
        color: whitesmoke;
    }
    &__seccionInfo{
        margin-top: 2rem;
        border: 1rem;
    }
    &__seccionInfo{
        display: flex;
        width: 100%;
        background-color:#0a0a0a;
        opacity: 0.7;
        grid-area: info;
        padding: 2rem;
        border: 1rem;
    p{
        color: whitesmoke;
        text-align: center;
        -webkit-animation:text-focus-in 1s cubic-bezier(.55,.085,.68,.53) both;animation:text-focus-in 1s cubic-bezier(.55,.085,.68,.53) both
    }
    a{
        color: whitesmoke;
    }
    a:hover{
        color: rgb(77, 65, 65)
    }
    }

    &__seccionInfo2{
        @extend .main__seccionInfo;
        width: 100%;     
    }

    &__seccionInfo3{
        @extend .main__seccionInfo;
        justify-content: start;
    }
    &__seccionFormulario{
     display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;   
    button:hover{
        background-color: green;
    }
    }
    &__formulario{
        input{
            margin-bottom: 1rem;
            margin-bottom: 0.5rem;
        }
        select{
            margin-bottom: 1rem;
        }
    }

    &__contenedorCarousel{
        display: flex;
        justify-content: center;
        margin-bottom: 1rem;

    }
}



@keyframes typing {
    from {width: 0}
}

@keyframes blink {
    50% {border-color: transparent}
}

@-webkit-keyframes text-focus-in{0%{-webkit-filter:blur(12px);filter:blur(12px);opacity:0}100%{-webkit-filter:blur(0);filter:blur(0);opacity:1}}@keyframes text-focus-in{0%{-webkit-filter:blur(12px);filter:blur(12px);opacity:0}100%{-webkit-filter:blur(0);filter:blur(0);opacity:1}}
@keyframes slide-in-fwd-center{0%{transform:translateZ(-1400px);opacity:0}100%{transform:translateZ(0);opacity:1}}
